# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/generated/resources/.cache
src/generated/resources/.cache/*
src\generated\resources\.cache

imagen_2026-07-29_234516934.png
blockbench/infinity_ore_reprocessing.bbmodel
