# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
src/generated/resources/.cache/5d079a152b136e08ef349cd1ebdd5c653dbd5db5
src/generated/resources/.cache
src/generated/resources/.cache/*
src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
src\generated\resources\.cache
src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
